[submodule "Vendor/MASPreferences"]
	path = Vendor/MASPreferences
	url = git@github.com:shpakovski/MASPreferences.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
